{% extends 'base.html' %}

{% block content %}
<h4 class="my-4 text-xl md:text-xl text-white opacity-75 font-bold 
leading-tight text-center md:text-left">
Aquí está la información de tu AstroCarta
</h4>
<div class="w-full container mx-auto">
    <div class="w-full flex items-center justify-between">
        <div class=container>
            <div class=row>
                <div class=col>
                    <figure class="md:flex bg-indigo-100 rounded-xl p-2 md:p-0 red-shadow">
                        <img src='{{ card.image.url }}' 
                        class="md:h-auto md:rounded-none rounded-full mx-auto" 
                        width="384" height="512">
                        <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                            <blockquote>
                                <p>Objeto Messier: <strong>{{ card.messier }}</strong></p>
                                <p>Nombre: <strong>{{ card.name}}</strong> </p>
                                <p>Tipo: <strong>{{ card.type }}</strong></p>
                                <p>Distancia: <strong>{{ card.dist }} años luz</strong></p>
                                <p>Coordenadas ecuatoriales J2000</p>
                                <p>Ascención recta: <strong>{{ card.ar }}</strong></p>
                                <p>Declinación: <strong>{{ card.dec }}</strong> </p>
                            </blockquote>
                            <hr>
                            <strong>Información general</strong>
                            <p class="overflow-y-scroll hover:scroll-auto h-40">{{ card.description }}</p>
                        </div>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}