{% extends 'base.html' %}

{% block content %}
<h4 class="my-4 text-xl md:text-xl text-white opacity-75 font-bold 
                leading-tight text-center md:text-left">
    Esta es tu colección de astrocartas. 
    <br>
    Da click en el botón saber más en cada AstroCarta para conocer la información del objeto Messier. 
    <br>
    Da click en el botón intercambio para conocer tus cartas repetidas y darlas de alta para intercambiar
    <br>
    El catálogo Messier es un catálogo con 110 objetos astronómicos. Actualmente la aplicación cuenta
    con los primeros 34 de ellos. Estaremos añadiendo más en los próximos días.
</h4>
<div class='grid grid-cols-3 gap-4 content-center'>
    {% for card in cards %}
    <div class='content-center'>
        <figure class="bg-indigo-200 rounded-xl content-center red-shadow p-2">
            <img src='{{ card.catalogue_id__image }}' 
            class="md: h-auto md:rounded-none rounded-full mx-auto" 
            width="192" height="256">
            <div class='card-body content-center'>
                <strong class='text-center'>
                    <h5 class='content-center'> Objeto Messier: M{{ card.catalogue_id__messier }}</h5>
                    <h5> {{ card.catalogue_id__name }} </h5>
                </strong>
            </div>
            <a "flex items-center text-center content-center" href="{% url 'card_info' id=card.catalogue_id %}">
                <button 
                class="bg-gradient-to-r from-purple-800 to-green-500 
                        hover:from-pink-500 hover:to-green-500 text-white 
                        font-bold py-2 px-4 rounded-xl focus:ring transform transition 
                        hover:scale-105 duration-300 ease-in-out content-center"
                type='submit'
                style="margin:5px;"
                >SABER MÁS</button>
            </a>
            <a "flex items-center text-center content-center" href="{% url 'swap_card' id=card.catalogue_id %}">
                <button 
                class="bg-gradient-to-r from-purple-800 to-green-500 
                        hover:from-pink-500 hover:to-green-500 text-white 
                        font-bold py-2 px-4 rounded-xl focus:ring transform transition 
                        hover:scale-105 duration-300 ease-in-out content-center"
                type='submit'
                style="margin:5px;"
                >INTERCAMBIO</button>
            </a>
        </figure>
    </div>
    {% endfor %}
{% endblock %}