{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w-full container mx-auto">
    <div class="w-full flex items-center justify-between">
        <div class=container>
            <div class=row>
                <div class=col>
                    <form method="post">
                        {% csrf_token %}
                        <button
                            class="bg-gradient-to-r from-purple-800 to-green-500 
                                hover:from-pink-500 hover:to-green-500 text-white 
                                font-bold py-2 px-4 rounded focus:ring transform transition 
                                hover:scale-105 duration-300 ease-in-out animate-bounce"
                            type="submit"
                            style="margin:5px;">
                            CONOCE TU NUEVA CARTA
                        </button>
                    </form>
                </div>
                <div class=col>
                    {% if card %}
                    <figure class="md:flex bg-indigo-200 rounded-xl p-8 md:p-0 red-shadow">
                        <img src='{{ card.catalogue_id__image }}' 
                        class="md:h-auto md:rounded-none rounded-full mx-auto" 
                        width="384" height="512">
                        <div class="pt-6 md:p-8 text-center md:text-left space-y-4">
                            <blockquote>
                                <p>Objeto Messier: <strong>{{ card.catalogue_id__messier }}</strong></p>
                                <p>Nombre: <strong>{{ card.catalogue_id__name}}</strong></p>
                                <p>Tipo: <strong>{{ card.catalogue_id__type }}</strong></p>
                                <p>Distancia: <strong>{{ card.catalogue_id__dist }} años luz</strong></p>
                                <p>Coordenadas ecuatoriales J2000</p>
                                <p>Ascención recta: <strong>{{ card.catalogue_id__ar }}</strong></p>
                                <p>Declinación: <strong>{{ card.catalogue_id__dec }}</strong></p>
                            </blockquote>
                            <hr>
                            <strong>Información general</strong>
                            <p class="overflow-y-scroll hover:scroll-auto h-40">{{ card.catalogue_id__description }}</p>
                        </div>
                    </figure>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}